<div class="movie-container">
  <button (click)="isFormVisible = !isFormVisible">Add Movie</button>

  <!-- Movie Form -->
  <div *ngIf="isFormVisible" class="movie-form">
    <input type="text" [(ngModel)]="movieName" placeholder="Movie Name" />
    <input type="text" [(ngModel)]="movieURL" placeholder="Movie Image URL" />
    <select [(ngModel)]="movieRating">
      <option *ngFor="let i of [1, 2, 3, 4, 5]" [value]="i">{{ i }}</option>
    </select>
    <textarea
      [(ngModel)]="movieOverview"
      placeholder="Movie Overview"
    ></textarea>
    <button (click)="addMovie()">Submit</button>
    <button (click)="closeForm()">Close</button>
  </div>

  <!-- Movie Cards -->
  <div class="movie-card" *ngFor="let movie of movies">
    <div class="movie-card-content">
      <img [src]="movie.url" alt="Movie Image" class="movie-image" />
      <div class="movie-details">
        <h3>{{ movie.name }}</h3>
        <p>Rating: {{ movie.rating }} / 5</p>
        <p class="overview">{{ movie.overview }}</p>
        <div class="buttons">
          <button (click)="editMovie(movie)">Edit</button>
          <button (click)="removeMovie(movie)">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
