.movie-container {
  padding: 20px;
}

.movie-form {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.movie-form input,
.movie-form select,
.movie-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.movie-card {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card-content {
  display: flex;
  flex-direction: row;
}

.movie-image {
  width: 150px;
  height: 200px;
  object-fit: cover;
}

.movie-details {
  padding: 20px;
}

h3 {
  margin: 0;
  font-size: 1.5em;
}

.overview {
  display: block;
  margin-top: 10px;
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  opacity: 0;
  transition: opacity 1s ease;
}

.movie-card:hover .overview {
  opacity: 1;
}

.buttons {
  margin-top: 10px;
}

button {
  margin-right: 10px;
  padding: 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}
